
.kb_control_left,.kb_control_right
{
    top:50%;
    z-index:2;
    opacity:0;
    width:55px;
    height:55px;
    text-align:center;
    -webkit-transition:all ease-in-out .3s;
    transition:all ease-in-out .3s
}
.kb_wrapper:hover .kb_control_left,.kb_wrapper:hover .kb_control_right
{
    opacity:.8
}
.kb_icons
{
    line-height:36px;
    font-size:26px!important;
    font-weight:normal!important
}
.kb_control_left
{
    left:1%!important
}
.kb_control_right
{
    right:1%!important
}
.kb_elastic
{
    opacity:1;
    -webkit-transform:scale3d(1,1,1);
    transform:scale3d(1,1,1)
}
.kb_elastic .item
{
    top:0;
    z-index:1;
    opacity:0;
    width:100%;
    position:absolute;
    left:0!important;
    display:block!important;
    -webkit-transform:scale3d(2,1,2);
    transform:scale3d(2,1,2);
    -webkit-transition:-webkit-transform .7s ease-in-out 0s,opacity ease-in-out .7s;
    transition:transform .7s ease-in-out 0s,opacity ease-in-out .7s;
        height: 100vh;
}

.carousel-inner{height: 100vh!important;}


.kb_elastic .item:first-child
{
    top:auto;
    position:relative
}
.kb_elastic .item.active
{
    opacity:1;
    z-index:2;
    -webkit-transform:scale3d(1,1,1);
    transform:scale3d(1,1,1);
    -webkit-transition:-webkit-transform .7s ease-in-out 0s,opacity ease-in-out .7s;
    transition:transform .7s ease-in-out 0s,opacity ease-in-out .7s
}
.kb_wrapper
{
    overflow:hidden;
  
}
.kb_wrapper>.carousel-inner>.item>img,.kb_wrapper>.carousel-inner>.item>a>img
{
    margin:auto;
    opacity:.8;
    width:100%!important;
    -webkit-transform-origin:100% 0;
    -moz-transform-origin:100% 0;
    -ms-transform-origin:100% 0;
    -o-transform-origin:100% 0;
    transform-origin:100% 0;
    -webkit-animation:immortalkenburns 20000ms linear 0s infinite alternate;
    animation:immortalkenburns 20000ms linear 0s infinite alternate;
        height: 100vh;
}
    @-webkit-keyframes immortalkenburns
{
    0%
{
    -webkit-transform:scale(1);
    -webkit-transition:-webkit-transform 20000ms linear 0s
}
    100%
{
    -webkit-transform:scale(1.2);
    -webkit-transition:-webkit-transform 20000ms linear 0s
}

}
    @-moz-keyframes immortalkenburns
{
    0%
{
    -moz-transform:scale(1);
    -moz-transition:-moz-transform 20000ms linear 0s
}
    100%
{
    -moz-transform:scale(1.2);
    -moz-transition:-moz-transform 20000ms linear 0s
}

}
    @-ms-keyframes immortalkenburns
{
    0%
{
    -ms-transform:scale(1);
    -ms-transition:-ms-transform 20000ms linear 0s
}
    100%
{
    -ms-transform:scale(1.2);
    -ms-transition:-ms-transform 20000ms linear 0s
}

}
    @-o-keyframes immortalkenburns
{
    0%
{
    -o-transform:scale(1);
    -o-transition:-o-transform 20000ms linear 0s
}
    100%
{
    -o-transform:scale(1.2);
    -o-transition:-o-transform 20000ms linear 0s
}

}
    @keyframes immortalkenburns
{
    0%
{
    transform:scale(1);
    transition:transform 20000ms linear 0s
}
    100%
{
    transform:scale(1.2);
    transition:transform 20000ms linear 0s
}

}
.kb_caption
{
    left:4%;
    width:24%;
    bottom:12%;
    text-align:left;

}

.aption{ width:40%; text-align:left;}
.aption2{ width:50%;  text-align:left;}
.aption1{ width:37%;  text-align:left;}
.aption3{width:33%;  text-align:left;}









.kb_caption_right
{
    left:50%
}
.kb_caption_center
{
    float:none;
    margin:auto
}
.kb_caption h4
{
    font-size:3.75rem;
    text-align: left;
    text-shadow:none;
    padding:15px 15px 15px 20px;
    -webkit-animation-delay:1s;
    animation-delay:1s;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: CircularStd-Bold,HelveticaNeue-Medium,Helvetica Neue medium,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -.02rem;
    margin-top: 0;
}
.kb_caption h2
{
    font-size:30px;
    text-align: center;
    text-shadow:none;
    padding-left:15px;
    font-weight:normal;
    -webkit-animation-delay:1.5s;
    animation-delay:1.5s
}
    @media only screen and (max-width:480px)
{
.kb_control_left,.kb_control_right
{
    border:0
}
.kb_icons
{
    font-size:18px!important
}
.kb_caption
{
    left:0;
    width:100%;
    bottom:25%;
    text-align:center
}
.kb_caption h4
{
    font-size:25px
}
.kb_caption h2
{
    font-size:20px
}

}
    @media(min-width:481px) and (max-width:600px)
{
.kb_control_left,.kb_control_right
{
    border:0
}
.kb_caption
{
    left:0;
    width:100%;
    bottom:25%;
    text-align:center
}

}
    @media(min-width:601px) and (max-width:767px)
{
.kb_caption
{
    left:0;
    width:100%;
    bottom:25%;
    text-align:center
}

}
    @media(min-width:768px) and (max-width:991px)
{
.kb_caption
{
    bottom:25%
}

}
    @media(min-width:992px) and (max-width:1199px)
{
.kb_caption
{
    bottom:50%
.}

}
.kb_wrapper
{
    background:#000;height: 100vh;
}
.kb_wrapper{}
.kb_control_left,.kb_control_left:hover,.kb_control_left:active,.kb_control_left:focus,.kb_control_right,.kb_control_right:hover,.kb_control_right:active,.kb_control_right:focus
{
    color:#fff; padding: 10px;
    background:#f4a81d !important; border-radius: 50%
}
.kb_caption h4
{
    color:#fff;
  background: #f4a81d;;
   
}
.kb_caption h2
{
    color:#fff
}
    @media(max-width:600px)
{
.kb_control_left,.kb_control_left:hover,.kb_control_left:active,.kb_control_left:focus,.kb_control_right,.kb_control_right:hover,.kb_control_right:active,.kb_control_right:focus
{
    border:none!important;
    
}

}











@media only screen and (min-width : 1920px) and (max-width : 2560px){}
@media only screen and (min-width : 1600px) and (max-width : 1919px){

/*     .kb_wrapper{    margin-top: -3%;} */
.kb_caption h4 {font-size: 3rem;}


}
@media only screen and (min-width : 1440px) and (max-width : 1599px){

    /* .kb_wrapper{    margin-top: -3%;} */
.kb_caption h4{font-size: 3rem;}
}
@media only screen and (min-width : 1366px) and (max-width : 1439px){

    .kb_caption h4{font-size: 3rem;}
    /* .kb_wrapper{margin-top: -2.3%;} */
    .kb_caption{width: 27%; left: 5%;}
.aption3{width: 34%;}
.aption2{width: 50%;}
.aption1{width: 40%;}
.aption{width: 40%;}

}

@media only screen and (min-width : 1200px) and (max-width : 1365px){
    /* .kb_wrapper{    margin-top: -3%;} */
        .kb_caption{width: 27%; left: 5%;}
.aption3{width: 34%;}
.aption2{width: 50%;}
.aption1{width: 40%;}
.aption{width: 40%;}

    .kb_caption h4{font-size: 3rem;}

}
@media only screen and (min-width : 1024px) and (max-width : 1199px){



.kb_caption{width: 30%; left: 5%; bottom: 6%;}
.aption3{width: 40%;}
.aption2{width: 56%;}
.aption1{width: 46%;}
.aption{width: 47%;}

    .kb_caption h4{font-size: 3rem;}
.kb_control_left, .kb_control_right{padding: 2px; width: 40px; height: 40px;}


}
@media only screen and (min-width : 768px) and (max-width :1023px){
.kb_control_left, .kb_control_left:hover, .kb_control_left:active, .kb_control_left:focus, .kb_control_right, .kb_control_right:hover, .kb_control_right:active, .kb_control_right:focus{padding: 0px}







    .kb_wrapper{    margin-top: -4%;}
    .kb_caption{width: 66%; bottom: 8%; left: 6%;}
    .kb_caption h4{font-size: 3rem;}
    .kb_control_left, .kb_control_right{padding: 2px; width: 40px; height: 40px;}
}






@media only screen and (min-width : 150px) and (max-width : 767px){

.kb_caption h4{padding: 15px 10px 15px 15px; font-size: 2.8rem ; text-align: center; background: none; font-weight: 400;}

/*.kb_wrapper>.carousel-inner>.item>img, .kb_wrapper>.carousel-inner>.item>a>img{height: 240px;}*/
.kb_control_left, .kb_control_right{padding: 2px!important; width: 40px!important; top:35%!important; height: 40px!important;}

    .kb_wrapper{margin-top: -5.5%;}
    .kb_caption{width:  100%; left: 0px;    bottom: 0%;}

}
@media only screen and (max-width : 375px){}    
@media only screen and (max-width : 320px){


.kb_caption h4 { padding: 15px 10px 15px 10px;  font-size: 20px !important;}   
    
    }
    
    
    
    
    
    

    
