
.pre-detail h2 {font-size:30px; color:#008402; font-weight:500; margin-top:28px; margin-bottom:16px;} .mrg-tp-6 {margin-top:30px;} .motto {font-style:italic; color:#333;font-weight:400;font-size:18px;}
.pre-detail h3 {font-size:20px; color:#008402; font-weight:400; margin-top:28px; margin-bottom:16px;} .pre-detail hr {border-top:1px dashed #7d7d7d; margin-top:50px; margin-bottom:50px;  }
.pre-detail h4 {font-size:21px; color:#333; font-weight:500; margin-top:28px; margin-bottom:16px;}
.pre-detail p {font-size:17px;} .pre-detail .lrg {font-size:20px; font-weight:300; color:#6c6c6c;} .pre-detail {width:80%; margin:50px auto; text-align:center;} 
.pre-detail .btn-default {border-radius:0px; color:#404040; padding:8px 14px; margin-top:15px;} .pre-detail .btn-default i  {font-size:12px;} .pre-detail a.btn-default  { font-size:13px;}
.pre-detail .btn-default:hover {border-radius:0px; background:#008402; color:#fff; padding:8px 14px; margin-top:15px;} 
 
 